.stApp {
    background: linear-gradient(
        135deg,
        #f8fafc 0%,
        #e0f2fe 50%,
        #f1f5f9 100%
    );
    min-height:100vh;
    font-family:'Segoe UI',sans-serif;
}

.card {
    background-color: #5f85c1;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 25px;
    margin-bottom: 25px;
}

h1,h2,h3 {
    color: #f172af;
}

div[data-testid="metric-container"] {
    background-color: #f8fafc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.prediction-box{
    background: linear-gradient(
        135deg,
        #93b1f0,
        #5585ec
    );
    border-radius: 14px;
    padding: 22px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #0e0eec;
    margin-top: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}